<!DOCTYPE html>
<html class="display" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eventure</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="...">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="body">
  <nav class="navbar navbar-expand-lg sticky-top navvybar">
    
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2 logo" href="/">
        <img class="navLogo" src="/images/eventureLogo.png" width="40" height="40" alt="Eventure logo">
      </a>
      <a class="navbar-brand me-2">
        <h1 class="text-turquoise">Eventure</h1>
      </a>
  
      <!-- Toggle button -->
      <button
        class="navbar-toggler white2red"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars plainText"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse justify-content-end" id="navbarButtonsExample">
        <!-- Left links -->
        
          {{#if logged_in}}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link navBtnExtras" id="text-font" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navBtnExtras" id="text-font" href="/dashboard">My Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link navBtnExtras" id="text-font" href="/signedUpActivities">Signed Up</a>
          </li>
           <li class="nav-item">
            <a class="nav-link navBtnExtras" id="text-font" href="/newActivity">New Event</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle navBtnExtras" id="text-font" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Browse by Category</a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/Education">Education</a></li>
                <li><a class="dropdown-item" href="/Sports">Sports</a></li>
                <li><a class="dropdown-item" href="/Arts and Crafts">Arts and Crafts</a></li>
                <li><a class="dropdown-item" href="/Social">Social</a></li>
                <li><a class="dropdown-item" href="/Music">Music</a></li>
                <li><a class="dropdown-item" href="/Outdoors">Outdoors</a></li>
                <li><a class="dropdown-item" href="/Tech">Tech</a></li>
                <li><a class="dropdown-item" href="/Trivia">Trivia</a></li>
                <li><a class="dropdown-item" href="/Pets">Pets</a></li>
                <li><a class="dropdown-item" href="/Entertainment">Entertainment</a></li>   
            </ul>
          </li> 
          {{/if}}
        </ul>
        <!-- Left links -->
      
        <div class="d-flex align-items-center">
          {{#if logged_in}}
            <a class="bucksNavButton loginBtn" id="logout">Logout</a>           
          {{else}}
            <a class="bucksNavButton loginBtn" href="/login">Login</a>
          {{/if}}
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->

  <main class="display">
      <!-- Render the sub layout -->
      {{{ body }}}
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
  <!-- Render script for logged in users only -->
<div class="d-flex align-items-center justify-content-center">
          {{#if logged_in}}
            <a class="bucksNavButton loginBtn" id="logout">Logout</a>           
          {{else}}
            <a class="bucksNavButton loginBtn" href="/login">Login</a>
          {{/if}}</div>
</body>

</html>
