<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eventure</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="...">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg sticky-top navvybar">
    <a class="navbar-brand me-2 logo" href="#">
    <img class="navLogo" src="/images/eventureLogo.png" width="40" height="40" alt="Eventure logo">
  </a>
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2">
        <h1 class="text-turquoise">Eventure</h1>
      </a>
  
      <!-- Toggle button -->
      <button
        class="navbar-toggler white2red"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars white2red"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link white2red" id="text-font" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link white2red" id="text-font" href="/dashboard">Dashboard</a>
          </li>
        </ul>
        <!-- Left links -->
  
        <div class="d-flex align-items-center">
          {{#if logged_in}}
            <a class="bucksNavButton" id="logout">Logout</a>           
          {{else}}
            <a class="bucksNavButton" href="/login">Login</a>
          {{/if}}
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->

  <main>
      <!-- Render the sub layout -->
      {{{ body }}}
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"></script>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  
</body>

</html>
