<section class="hero-section">
    <div class="container hero-container">
      <h1>Welcome to Eventure</h1>
      <h5>Your next adventure begins here.</h5>
      <a href="/login" class="bucksButton">Get Started</a>
    </div>
</section>