<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-75">
        <div class=" col-lg-8 bucksCard">
          <div class="card-body bg-light p-4 text-center">
            <h1>Welcome to Eventure</h1>
            <h5>Your next adventure begins here.</h5>
            <a href="/login" class="bucksButton">Get Started</a>
          </div>
        </div> 
    </div>     
  </div>        
</section> 