<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4">
          <div class="card bg-opacity-50 text-white" id="bg-color" style="border-radius: 1rem;">
            <div class="card-body p-4 text-start">
  
              <div class="mb-4">
                  <div class="text-center">
                      <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                      <p class="text-white-50">Please enter your details!</p>
                  </div>

                  <div class="form-outline form-white mt-4">
                    <label class="form-label" for="name-signup">Name</label>
                    <input type="email" id="name-signup" class="form-control form-control-lg" />               
                  </div>

                <div class="form-outline form-white mt-4">
                  <label class="form-label" for="email-signup">Email</label>
                  <input type="email" id="email-signup" class="form-control form-control-lg" />               
                </div>
  
                <div class="form-outline form-white mt-4">
                  <label class="form-label" for="password-signup">Password</label>
                  <input type="password" id="password-signup" class="form-control form-control-lg" />
                </div>
  
                <div class="text-center mt-5">
                  <button class="btn btn-outline-light btn-lg px-5" type="submit" id="signupBtn">Register</button>
                </div>
  
              </div>
              <div class="text-center">
                <p class="mb-0">Already have an account? <a href="/login" class="text-white-50 fw-bold">Login</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="./js/register.js"></script>
