:root {
    --moonstone: #0fa3b1;
    --robinEggBlue: #12bfce;
    --honeydew: #d9e5d6;
    --vanilla: #eddea4;
    --flax: #E7D588;
    --calPolyGreen: #2C3E28;
    --electricBlue: #56E3F0;
    --red: #FF0022;
    --richBlack: #011627;
    --turquoise: #41EAD4;
  }

h2 {
    margin-bottom: 0;
    text-align: center;
    padding-bottom: 0.5rem;
}

h5 {
    margin-bottom: 1.5rem;
}  

.aside {
    float: left;
    margin-left: 1rem;
    margin-top: 2rem;
    height: 100vh;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -4);
    margin-left: calc(var(--bs-gutter-x)/ -4);
}

.navvybar {
    background-color: var(--richBlack);
    padding-top: 0;
    padding-bottom: 5px;
}

.logo {
    display: flex;
    flex-wrap: wrap;
}

.navLogo {
    display: inline-flex;
    flex-wrap: wrap;
}

.loginBtn {
    display: flex;
    justify-content: flex-end;
}

.activityIcon {
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 0.75rem;
    margin-top: 0.35rem;
    margin-bottom: 0.5rem;
}
.bucksNavButton {
    background-color: white;
    color: var(--red);
    text-decoration: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
}

.bucksNavButton:hover {
    background-color: var(--red);
    color: white;
    border: none;
    cursor: pointer;
    scale: 1.01;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.navBtnExtras {
    color: white;
    margin-left: 0.35rem;
    margin-right: 0.35rem;
    /* border: 1px solid white; */
    border-radius: 0.5rem;
    text-align: center;
}

.navBtnExtras:hover {
    color: var(--turquoise);
    /* border: 1px solid var(--red); */
}

.bucksButton {
    background-color: var(--red);
    color: white;
    text-decoration: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid var(--red);
}

.bucksButton:hover {
    background-color: white;
    color: var(--red);
    border: 1px solid var(--red);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.bucksSignupButton {
    background-color: var(--calPolyGreen);
    color: white;
    text-decoration: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid var(--calPolyGreen);
}

.bucksSignupButton:hover {
    background-color: white;
    color: var(--calPolyGreen);
    border: 1px solid var(--calPolyGreen);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.newEventButton {
    background-color: white;
    color: var(--calPolyGreen);
    text-decoration: none;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    border: 1px solid var(--calPolyGreen);
    text-align: center;
}

.newEventButton:hover {
    background-color: var(--calPolyGreen);
    color: white;
    border: 1px solid var(--calPolyGreen);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.createBtn {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.text-turquoise {
    color: var(--turquoise);
}

.display {
    background-position: center center;
    background-size: cover;
    background-image: url(/images/eventureBG.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.bucksCard {
    border: 0.375rem solid var(--richBlack);
    padding: 0;
    border-radius: 0.5rem;
    max-width: 600px;
}

.eventCard {
    border: 0.375rem solid var(--richBlack);
    padding: 0;
    border-radius: 0.5rem;
}

.textPadding {
    margin-left: 1rem;
    margin-right: 1rem;
}

.plainText {
    text-decoration: none;
    color: white;
}

.plainText:hover {
    color: var(--turquoise);
}

.banner {
    background-color: var(--richBlack);
    color: white;
}

.blackText {
    color: black;
}

#bg-color {
    background-color: var(--richBlack);
    color: #ffffff;
}

.white2red {
    color: #ffffff;
}

.body {
    background-color: transparent;
}

.white2red:hover {
    color: var(--red);
}

#title-color {
    color: #577e9c;
}

#text-font {
    font-size: 16px;
}

.textLeft {
    display: flex;
    justify-content: flex-start;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .hero-container {
    background-color: #ffffff;
    width: 40%;
    padding: 40px;
    text-align: center;
    border-radius: 0.5rem;
    margin-bottom: 5rem;
  }

.underline {
    max-width: 600px;
    padding-top: 1rem;
    padding-bottom: 0.35rem;
    border-bottom: 2px solid var(--richBlack);
}
